files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDETCCAfkCFFUO0zPV4wADSJbuIjPJxEH3xX0QMA0GCSqGSIb3DQEBCwUAMEUx
      CzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRl
      cm5ldCBXaWRnaXRzIFB0eSBMdGQwHhcNMjIwNTAyMTUyNzAxWhcNMjMwNTAyMTUy
      NzAxWjBFMQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UE
      CgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEA1ztb6Pe50Kx6M5Tdd4MAXOmUIW5Ri0r3Ih93D+sT9aHmYxvZ
      UwRUcSjhrebaBjAkk60s0i+CzJbhi3kg6iIZcVlC3gBDecRE/pxnmp3FTOMb29Z8
      AeDJNfpC2u2fsiiB8bNZHFFcS3jgOYvyQygavUBdwkVRA/2obwwqA+KdNPOCbOJK
      NJVc98X57GpOoEV3FXNVrGVoEADIHk+Qv7E0xt+1jpQDDw3yeLJdcETvDA+gX5RI
      JA1y3hBBjYPx63mVrHWiK+pJBjL1H8IE76CRq2XBdO1PyWvLphHRzOUh2NR/oT91
      3k92oYXzfkXMlTYfKFjDeycj4BDlDiKzzGQysQIDAQABMA0GCSqGSIb3DQEBCwUA
      A4IBAQBCIjPAafcBbjvsD5GIe5+lkzGgPFabSQUUu2TBT0bbbpMLfRhfGuJeu2Do
      h6K9Qiz9m31LjcRSzMOJGdLnXsyzV6jMDl1Faqs/L/cI5XDtpQHfkYDEc3tQvhB+
      ApkRr7zFkLvzc8b1j5a5uCbkOg/FS7u7YR+9C00i5z6FZkV5EACcCUK2DNRtawAI
      gxm/HU/BppW+Y9wcrXttkGL8eCR1VhwBUEKydytoybk3WGkkwo40Yz4qIPMFCAoo
      bhQU+Q98UixJ9acKfcqtNaoE943jT6HGW1b3GqGqFBEq0KR++RU1yXeWYE/7Xp9P
      gy2EEgT5pvjpbGQxI8KZU8mvdJ5u
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEogIBAAKCAQEA1ztb6Pe50Kx6M5Tdd4MAXOmUIW5Ri0r3Ih93D+sT9aHmYxvZ
      UwRUcSjhrebaBjAkk60s0i+CzJbhi3kg6iIZcVlC3gBDecRE/pxnmp3FTOMb29Z8
      AeDJNfpC2u2fsiiB8bNZHFFcS3jgOYvyQygavUBdwkVRA/2obwwqA+KdNPOCbOJK
      NJVc98X57GpOoEV3FXNVrGVoEADIHk+Qv7E0xt+1jpQDDw3yeLJdcETvDA+gX5RI
      JA1y3hBBjYPx63mVrHWiK+pJBjL1H8IE76CRq2XBdO1PyWvLphHRzOUh2NR/oT91
      3k92oYXzfkXMlTYfKFjDeycj4BDlDiKzzGQysQIDAQABAoIBAH1uQWzuWaKrsXe4
      DKzmcmKzWTl2Yh1MLeP79FYZiINAu9QMWcWQo2ljCspe27Z5fgd2B8XiHFcAoya2
      C6GHB87P1zErdCdVY2QCYDpyMZZSUFz4jUJG7tv/IdEWZFfeVYQ3Ifpny+LL6dh/
      n0rV52ddSIa8AK/TtsIok5+6BCXjpSKSygK6baLMCe2s2zSwCQKCDWHTSafFlrAn
      Zoln9qTnBgtfH/Kx/ofE8prCy0B8skNR9itN3GbPhTVXgOENlMCsnkiNwolTh1U5
      wG/LoSheAY9fnYZ7bM9n8Acq9vh/GSghePys7acMDjIyuKetVWGuBKtbYCRBP6Sk
      keJWw+UCgYEA/pXVFqI5cg4xj7L7v9PRupdHcISQ6FMuXojGxbftNTO7+zhmGGGe
      OudrgYRytryazY14UexFQCNbRCtrXnYeIZhMD9Z3Pb3Q0homWVMX/gEMoE6v36n5
      aXI7ybyY0MRtXLX2a2NjZauJTOZvUUR6hFhE+iWpF3qoNgmS/M4e/QcCgYEA2G2L
      FuntnSpG/9wLD/AVIpDuo5U6igam0HlLfBKZxu4ouoBmLz+SOm88nVv00dl5WX5G
      m8FRCauQ3kbDkBwo9mm4nBCqO/wVv05W73eImpwLFSRh1AHeIQ8iGvi3vB7MZ5S9
      wz+ff3vG2IOMi0rLUolTmfnl+NORGitjp16gHIcCgYBHSk3ReLv9ZFwckVJN9VLV
      nWcz6utpI2HotwRyeX7DVylcv/5W9X8Jn6RLMHuvEEGJLgRzbGY3/66e+EmougrV
      /X/PL49UisLfEtOKT+p4BnMysNYvG7nr/UEgzN8+FsNJIutORxaecdqQ3jZt228z
      gERQiBtBp+dSunuer1meIQKBgAeNcxAeo7MbWZTuKdipiSNGqX095OgSKVoXEYJH
      5+PgRb2UY3x8nG67mQLoxZdZHnn4BSDEUz6iJREMqSBrSyamM9IGZtpnBp9BbZk3
      s6Wpkl1vgpZyZj0DGS6VxVukO3/V2fVpT/iT6jF+DbaCqqu7rRYveU4AnAysvPKH
      Q9EbAoGADNSr5FtX77tK7/hvwG7murtEB+/UWmB0fb7dRaXltcTrNDfMkzCk1ZlT
      aneUt7+CcfgGO3vmUtHLBeXNIY/U0ISfny9+dfjHm3/rQMARETueSI9PrQFsn/WF
      bl/R//HqsCoZBeCXni/cgCMy93KjHZu/NefbJxGqj0/5kX6fHF8=
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart